.areYouSureContent{
  height: 160px;
  min-height: 160px;
}
.sureSeparator{
  display: block;
  background:#00A3AC;
  width: 20px;
  height: 100%;
  left: 0px;
  min-width: 4px;
  max-width: 4px;
  border-radius: 5px;
}
.areYouSureContentContainer {
  display: inline-flex;
  margin-bottom:0;
  padding: 20px 20px 20px 0px;
  background: #FAFAFA;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  min-width: 250px;
}
.areYouSurecontent{
  padding-left: 20px;
}
.areYouSuretitle {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: #00A3AC;
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  overflow-wrap: break-word;
}
.areYouSureicon {
  font-style: 28px;
  background: #00A3AC;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  vertical-align: middle;
}
.areYouSureiconMiddle {
  margin-top: 20%;
}
.sureBtnPrimary{
  background-color: #00A3AC;
  border-radius: 10px;
  color: white;
  padding: 8px 60px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  transition: all 0.1s;
}
.sureBtnPrimary:hover, .sureBtnPrimary:focus{
  background-color: #00B9D1;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
}

.sureBtnSecondery{
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #00A3AC;
  border-radius: 10px;
  color: #00A3AC;
  padding: 8px 60px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  transition: all 0.1s;
}
.sureBtnSecondery:hover, .sureBtnSecondery:focus{
  background-color: #D5F0F7;
  border: 2px solid #00A3AC;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.36);
}
