.group 			  {
  margin-top:100px;
  margin-left: 50px;
  position:relative;
  margin-bottom:45px;
  font-size: 18px;
}

.calculate input{
  font-size:18px;
  padding:10px 10px 12px 17px;
  display:block;
  width:300px;
  border:none;
  border:2px solid #828282;
  border-radius: 30px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.calculate input:focus 		{ outline:none; }

/* LABEL ======================================= */
.calculate label 				 {
  color:#828282;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:20px;
  top:11px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.calculate input:focus ~ label, .calculate input:valid ~ label 		{
  top:-24px;
  font-size:14px;
  color:#004C76;
}

/* active state */
.calculate input:focus				{
    border:2px solid #004C76;
  }

}

/* HIGHLIGHTER ================================== */
.calculate  .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.calculate input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
