/* START Case Chapter viewer*/
.chapterView{
  width: 98%;
  background-color: #fafafa;
  border-radius: 10px;
}
.cVheader{
  background-color:#004C76;
  color:#fafafa;
  border-radius: 10px 10px 0px 0px;
}
.closeButtonContainer:hover{
  background-color: rgba(250,250,250, 0.1);
  border-radius: 0px 10px 0px 0px;
}
.cVclose{
  font-size: 16px;
  color: #fafafa;
}
.cVclose hover{
  font-size: 16px;
  color: #fafafa;
}
.cVfooter{
  background-color:#004C76;
  text-align: center;
  color:#fafafa;
  border-radius: 0px 0px 10px 10px;
}
.docDate{
  padding: 5px;
}
.emptyW{
  width: 50px;
}
.headIcon{
  font-size: 16px;
}
.cVbody{
  max-height: 45rem;
  overflow-x: hidden;
  overflow-y: scroll;

}
/* END Case Chapter viewer*/

/*START TEXT viewer*/
.textViewer{
  max-height: 45em;
  padding: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.imageInText{
  width: 100%;
  max-width: 100%;
}
/*END TEXT viewer*/

/*START video Viewer*/
.videoViewer video{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
/*END video Viewer*/

/*START mailviewer*/
.mail{
  padding: 30px 50px;
}
.mailHead{
  padding: 30px 50px 0px 50px;
}
.subject{
  font-size: 32px;
}
.senderHeadContainer{
  height: 100%
}
.senderHead{
    width: 48px;
    height: 48px;
    border: 1px solid #F0F4F7;
    border-radius: 50%;
    overflow: hidden;
}
.mailParty{
  line-height: normal;
}
.sender{
  font-weight: 700;
  font-size: 18px;
}
.recipients{
  font-size: 12px;
  color: #888;
  font-weight: 700;
}
.time{
  font-size: 12px;
  color: #888;
}
.mailFooter{
  border-bottom: 1px solid #666;
}
.mailInfoContainer{
  height: 48px;
}
.mailBody{
  margin-top:20px;

}
.mailBody img{
  width: 100%;
}
.reply{
  color: #888;
}
.signiture{
  margin-top:2rem;
  border-bottom: 2px #DEDEDE solid;
}
.fakeLink{
  text-decoration: underline;
  color: #004C76;
}
.fakeLink:hover{
  text-decoration: underline;
  color: #1c7de8;
}
.attachments a{
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
.attachments a:hover{
  border-radius: 20px;
  background-color: rgba(0, 76, 118, 0.1);
}
.separator{
  height: 2px;
  background-color: #dedede;
  width:100%;
}
/*ENDS mailviewer*/
/*Start audioViewer*/
.audioViewer audio{
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
/*Ends audioViewer*/
/*Start slidesViewer*/
.slidesViewer img{
  width: 100%;
  margin: 1rem 0px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,76,118,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,76,118,1);
  box-shadow: 0px 0px 3px 0px rgba(0,76,118,1);
}
/*Ends slidesViewer*/
