* {
    font-family: Ubuntu;
}

.navigation {
    opacity: 0.95;
    position: fixed;
    top: 0;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: rgb(0, 121, 235) !important;
    height: 60px;
}

.navbar a {
    color: white;
}

.navbar-brand {
    margin: 0 auto;
    position: absolute;
    left: 47.5%;
    top: -5px;
}

.navbar-brand img {
    width: 80px;
}

.open_menu {
    margin-left: auto;
}

.bg {
    background: rgb(189, 219, 255);
    background: linear-gradient( 0deg, rgba(189, 219, 255, 1) 0%, rgba(255, 255, 255, 1) 77%) fixed;
    font-feature-settings: "liga" 0;
    margin: 0;
    padding: 0;
}


.boxbottom {
    background-color: rgb(0, 121, 235);
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.5s linear;
    border-top: 1px solid white;
    position: relative;
    width: 100.2%;
    right: 1px;
    cursor: pointer;
}
.boxbottom a{
    color: white;
}
.boxbottom a:hover, .boxtop:hover{
    text-decoration: none !important;
}

.boxtop {
    background-color: rgb(0, 121, 235);
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.5s linear;
    border-top: 1px solid white;
    position: relative;
    bottom: 2px;
    cursor: default;
    width: 100.2%;
    right: 1px;
}
.boxmiddle{
    cursor: default;
}
.center_row{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 130px;
    margin: 0 auto;
}
.changelog_box {
    position: relative;
    top: -30px;
    box-shadow: 1px 1px 11px -5px rgb(0 0 0 / 58%);
    border-radius: 10px;
    border: 1px solid #0079EB;
    margin: 20px  auto !important;
    width: 90% !important;
    max-width: 1000px;
}
.changelog_box a:hover {
    text-decoration: none !important;
}
.fa-stack {
    text-shadow: 3px 4px 5px rgb(0 0 0 / 15%);
    font-size: 12px
}
.fa-stack .fa-circle{
    color: white;
}
.fa-stack .fa-plus, .fa-stack .fa-paper-plane{
    color: #0079EB;
}

.changelog {
    width: 80%;
    margin-top: 20px;
}
.changelog .boxtop {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.changelog .col-8 {
    max-width: 66%;
}
.changelog .col-4 {
    max-width: 33%;
}


.changelog_box {
    min-width: 90%;
}

@media only screen and (min-width: 1200px) {
    .changelog_box {
        width: 1000px !important;
        min-width: unset !important;
    }
}
.changelog_box .col-4.text-right{
    vertical-align: top;
    position: relative;
}
 .greytext{
    color: #575757;
    font-size: 18px;
    font-weight: 600;
}
.titles .col-3, .changelog .boxtop .col-3{
    max-width: 24%;
    display: inline-block;
    padding: 0;
}
.titles{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px !important;
    padding: 0;
    position: relative;
    left: 10px
}
.changelog .boxtop {
    padding: 5px 0;
}

.changelog .boxmiddle .col-12 {
    border-bottom: 1px solid #BDDBFF;
    padding: 10px 0;
}
.changelog_box .boxmiddle{
    background-color: white;
}
.smallergrey{
    color: #575757;
    font-size: 15px;;
}
.bluetext{
    color: #53ACFF;
    font-size: 15px;;
    font-weight: 600;
}
.new_form, .send{
display: none;
}
.new_form{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid #BDDBFF;
}
input[type=text]:focus, input[type=text]:active, input[type=number]:focus, input[type=number]:active, input[list]:focus, input[list]:active {
	box-shadow: none;
	outline: 0px !important;
}
input {
    border: none;
    border-bottom: 2px solid #53ACFF !important;
    padding-left: 3px;
    color: #0079EB;
}
input::placeholder{
  color: #53ACFF ;
}

/*-------------Custom checkbox---------------*/

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #575757;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4.5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #575757;
    border-radius: 1px;
}
.checkbox_container input[type=radio]~.checkmark {
    border-radius: 100px;

}

.checkbox_container:hover input~.checkmark {
    background-color: #53ACFF;
}

.checkbox_container:hover input:disabled~.checkmark {
    background-color: #fff;
    cursor: default;
}

.checkbox_container:hover input:checked:disabled~.checkmark {
    background-color: #0079eb;
    cursor: default;
}

.checkbox_container input:checked~.checkmark {
    background-color: #0079eb;
    border: none;
}



.checkbox_container:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked~.checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox_container input:checked~.checkbox_container {
    font-weight: bold;
}

/*-------------Custom checkbox end---------------*/
.toggle_creator,.toggle_am, .toggle_test, .toggle_billing,.toggle_reports,.toggle_other{
    display: none;
}

/*----------------Link copied alert-----------------*/

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
        opacity: 1;
    }
    40% {
        transform: translateX(0%);
        opacity: 0.66;
    }
    80% {
        transform: translateX(-10%);
        opacity: 0.33;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.alert {
    display: none;
    z-index: 100000;
    position: absolute;
    top: 80px;
    right: 10px;
    color: white;
    background-color: rgba(83, 172, 255, 0.9);
    border-radius: 4px;
    padding: 10px !important;
    text-align: center;
    width: 150px;
}


.alert span, .required_pw span, .noti_set span, .form_sent span {
    font-family: 'MuseoSans-500';
}

/*----------------Link copied alert-----------------*/

@media only screen and (max-width: 650px) {
    .changelog .col-8,.changelog .col-4,.changelog .col-3,.titles .col-3 {
        max-width: 100% !important;
        min-width: 100% !important;
        text-align: center !important
    }
    .titles {
       
        left: 0px;
    }
}

@media only screen and (max-width: 1400px) {
    .navbar-brand {
        left: 46.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-brand {
        left: 45.5%;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-brand {
        left: 44.5%;
    }
}

@media only screen and (max-width: 540px) {
    .navbar-brand {
        width: 40px;
        top: 5px;
    }
    .navbar-brand img {
        width: 40px;
    }
}
