@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

.radioBtnContainer {
  margin: 0px 0;
  font-size: 18px;
  border-radius: 20px;
  transition: all .3s;
  line-height: 1;
}

.radioBtnContainer:hover {
  border-radius: 20px;
  background-color: rgba(0, 76, 118, 0.1);
}

.radioBtn.radioBtn-inline {
  display: inline-block;
}

.radioBtn input[type="radio"] {
  display: none;
}

.radioBtn input[type="radio"]:checked+label:before {
  border-color: #004C76;
  animation: ripple 0.2s linear forwards;
}

.radioBtn input[type="radio"]:checked+label:after {
  transform: scale(1);
}

.radioBtn label {
  height: 20px;
  position: relative;
  padding: 0 5px 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  clear: both;
}

.radioBtn input[type="radio"]:checked+label {
  font-weight: 700;
  /*makes selected option bold*/
}

.radioBtn label:before, .radioBtn label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}

.radioBtn label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

.radioBtn label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #004C76;
}

*, *:before, *:after {
  box-sizing: border-box;
}
