* {
    font-family: 'Ubuntu';
}

.centercontainer {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 100%
}

.spartafycontainer {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 140px;
    height: auto;
}

.spartafycontainer img {
    width: 100%;
}

.centercontainer * {
    text-align: center;
    margin: 0 auto;
}

.center-image {
    width: 15%;
    min-width: 150px;
    height: auto;
    max-width: 170px;
}

.center-image img {
    width: 100%;
}

.center-header {
    font-size: 34px;
    margin-top: 30px;
}

.center-text {
    font-size: 20px;
}

.center-text, .center-header {
    padding: 7px 0;
    font-weight: 500;
}

.center-button {
    margin-top: 25px;
}

.center-button a {
    background-color: #0079eb;
    color: white;
    text-decoration: none;
    padding: 12px 75px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 36%);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s;
}

.center-button a:hover {
    background-color: #dfe9fe;
    color: #0079eb;
}

.leftblue {
    position: absolute;
    left: 0;
    top: 75%;
    background-color: #0079eb;
    height: 250px;
    transform: translateY(-50%);
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rightblue {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #0079eb;
    height: 550px;
    transform: translateY(-50%);
    width: 75px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .leftblue {
       
        height: 200px;
       
        width: 100px;
      
    }
    
    .rightblue {
      
        height: 300px;
      
        width: 75px;
       
    }
}

@media screen and (max-width: 950px) {
    .center-header {
        font-size: 32px;
    }
}

@media screen and (max-width: 800px) {
    .center-header {
        font-size: 26px;
    }
    .center-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    .leftblue {
        top: 80%;
        width: 50px;
    }
    .rightblue {
        top: 45%;
        width: 25px;
    }
    .center-text, .center-header {
        padding: 7px 35px;
    }
}

@media screen and (max-width: 550px) {
    .center-header {
        font-size: 20px;
    }
    .spartafycontainer {
        width: 120px;
    }
    .center-text {
        font-size: 16px;
    }
    .leftblue {
        top: 85%;
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    .center-header {
        font-size: 18px;
    }
}