@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* @import must be at top of file, otherwise CSS will not work */


  
@font-face {font-family: 'MuseoSans-700';src: url('webfonts/35E6AF_0_0.eot');src: url('webfonts/35E6AF_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_0_0.woff2') format('woff2'),url('webfonts/35E6AF_0_0.woff') format('woff'),url('webfonts/35E6AF_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-300';src: url('webfonts/35E6AF_1_0.eot');src: url('webfonts/35E6AF_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_1_0.woff2') format('woff2'),url('webfonts/35E6AF_1_0.woff') format('woff'),url('webfonts/35E6AF_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-900Italic';src: url('webfonts/35E6AF_2_0.eot');src: url('webfonts/35E6AF_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_2_0.woff2') format('woff2'),url('webfonts/35E6AF_2_0.woff') format('woff'),url('webfonts/35E6AF_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-500';src: url('webfonts/35E6AF_3_0.eot');src: url('webfonts/35E6AF_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_3_0.woff2') format('woff2'),url('webfonts/35E6AF_3_0.woff') format('woff'),url('webfonts/35E6AF_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-100';src: url('webfonts/35E6AF_4_0.eot');src: url('webfonts/35E6AF_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_4_0.woff2') format('woff2'),url('webfonts/35E6AF_4_0.woff') format('woff'),url('webfonts/35E6AF_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-700Italic';src: url('webfonts/35E6AF_5_0.eot');src: url('webfonts/35E6AF_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_5_0.woff2') format('woff2'),url('webfonts/35E6AF_5_0.woff') format('woff'),url('webfonts/35E6AF_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-300Italic';src: url('webfonts/35E6AF_6_0.eot');src: url('webfonts/35E6AF_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_6_0.woff2') format('woff2'),url('webfonts/35E6AF_6_0.woff') format('woff'),url('webfonts/35E6AF_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-100Italic';src: url('webfonts/35E6AF_7_0.eot');src: url('webfonts/35E6AF_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_7_0.woff2') format('woff2'),url('webfonts/35E6AF_7_0.woff') format('woff'),url('webfonts/35E6AF_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-500Italic';src: url('webfonts/35E6AF_8_0.eot');src: url('webfonts/35E6AF_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_8_0.woff2') format('woff2'),url('webfonts/35E6AF_8_0.woff') format('woff'),url('webfonts/35E6AF_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-900';src: url('webfonts/35E6AF_9_0.eot');src: url('webfonts/35E6AF_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/35E6AF_9_0.woff2') format('woff2'),url('webfonts/35E6AF_9_0.woff') format('woff'),url('webfonts/35E6AF_9_0.ttf') format('truetype');}