/*HEADER*/
.header{
  background-color: #004C76;
  color: white;
  padding: 5px 0px;
}
/*player*/
.pHead{
  width: 32px;
  height: 32px;
  border: 1px solid #F0F4F7;
  border-radius: 50%;
  overflow: hidden;
}
.pName{
  font-size: 12px;
  font-weight: 300;
}
/*badges*/
.badgeTitle{
  font-size: 12px;
  font-weight: 300;
}
.badgePlaceholder{
  width: 30px;
  height: 30px;
  border: 1px dashed #F0F4F7;
  border-radius: 50%;
  background-color: rgba(240, 244, 247, 0.2);
  margin-right: 16px;
}
.moduleName{
  font-size: 16px;
  color: #F0F4F7;
  font-weight: 700;
}
.timeLeft{
  display: inline-block;
  border-radius: 10px;
  padding: 3px 12px;
  font-size: 16px;
  color: #004C76;
  font-weight: 700;
  background: #F0F4F7;
}
.timeCloseRunOut{
  display: inline-block;
  border-radius: 10px;
  padding: 3px 12px;
  font-size: 16px;
  color: #F5871F;
  font-weight: 700;
  background: #F0F4F7;
}
/*END HEADER*/
