html, body{
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
.colPaddingOverride{
  padding: 0px !important;
}

i{
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.paddingFifteenRightLeft{
  padding-right: 15px;
  padding-left: 15px;
}

a{
  text-decoration: none;
  color: #031A2B;
}
a:hover{
  text-decoration: none;
  color: #031A2B;
}
a:visited{
  text-decoration: none;
  color: #031A2B;
}
button{
  background: none;
  border: none;
  border-shadow:none;
}
button:hover{
  background: none;
  border: none;
  border-shadow:none;
}
button:focus{
  background: none;
  border: none;
  border-shadow:none;
}
button::selection{
  background: none;
  border: none;
  border-shadow:none;
}
audio, video{
  display: block;
}
.noMargin{
  margin: 0px;
}
.marginTop{
  margin-top: 1rem;
}
.hidden{
  display: none;
  visibility: hidden;
}
.primaryButton{
  border-radius: 3px;
  background-color: #0079EB;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
 transition: all 0.5s;
 transition-timing-function: ease-in-out;
}
.primaryButton:hover{
  background-color: #459ef1;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);

}

.seconderyButton{
  border-radius: 3px;
  border: solid 2px #0079EB;
  background-color: white;
  color: #0079EB;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
 transition: all 0.5s;
 transition-timing-function: ease-in-out;
}
.seconderyButton:hover{
  background-color: #cee7ff;
  cursor: pointer;

}
