.paddingFifteenRightLeft {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    background-color: #0079EB;
    color: white;
    padding: 5px 0px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.moduleName {
    font-size: 16px;
    color: #F0F4F7;
    font-weight: 700;
}

.timeLeft {
    display: inline-block;
    border-radius: 10px;
    padding: 3px 12px;
    font-size: 16px;
    color: #0079EB;
    font-weight: 700;
    background: #F0F4F7;
    margin-right: 15px;
}

.pHead {
    width: 32px;
    height: 32px;
    border: 1px solid #F0F4F7;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}

.pName {
    font-size: 12px;
    font-weight: 300;
}

.colPaddingOverride {
    padding: 0px !important;
}

.iconMiddle {
    margin-top: 24%;
}

.module-boxes {
    position: relative;
    top: 70px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.modulebox {
    position: relative;
    margin-bottom: 0;
    background: #FAFAFA;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 36%);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 36%);
    width: calc(25% - 40px);
    margin: 20px;
}
.modulebox-inner{
    padding: 20px;
    padding-top: 0;
}

.modulebox .title {
    font-size: clamp(18px,22px,2vw);
    font-weight: 700;
    text-align: right;
    color: #0079EB;
    overflow-wrap: break-word;
    border-bottom: 3px solid #0079EB;
    max-width: unset;
    min-width: unset;
    width: calc(100% - 40px);
    position: relative;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    margin: 20px;
}

.align_middle {
    position: absolute;
    top: calc( 50% - 45px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1400px;
}


.modulebox .icon_container {
    position: absolute;
    left: 0;
    vertical-align: sub;
    text-align: left;
    display: inline-block;
}

.modulebox .icon_container .icon {
    font-style: 28px;
    background: #0079EB;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.modulebox .stats {
    position: relative;
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.modulebox .freetext  {
    position: relative;
    text-align: center;
    padding-top: 10px !important;
}
.modulebox .skill_ul  {
    position: relative;
    right: 8px;
    text-align: center;
    padding-bottom: 0px !important;
}
.modulebox .skill_ul  .skill_name{
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.modulebox .stats ul, .modulebox .skill_ul ul {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.modulebox .stats ul li, .modulebox .skill_ul ul li {
    text-align: left;
}


.vertical_align{
    vertical-align: top;
    float: right;
}

@media screen and (max-width: 1200px){
    .modulebox {
        width: calc(33.33% - 40px);
    }
    
}

@media screen and (max-width: 900px){
    .modulebox {
        width: calc(50% - 40px);
    }
    
}

@media screen and (max-width: 650px){
    .modulebox {
        width: calc(100% - 40px);
    }
    
}