/*Start btnNext*/
.nextBtnContainer button{
  width: 100%;
}
.btnNext{
  height: 45px;
  background: #004C76;
  text-align: center;
  color: #FAFAFA;
  border-radius: 20px 20px 0px 0px;
  font-weight: 700;
  font-size: 18px;

}
.btnNext:disabled{
  background: #828282;
  color: #BDBDBD;
}
.btnNext:hover{
  cursor: pointer;
  color: #FAFAFA;
  background: #00b9d1; /* Old browsers */
  background: -moz-linear-gradient(left, #00b9d1 0%, #004c76 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00b9d1 0%,#004c76 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00b9d1 0%,#004c76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b9d1', endColorstr='#004c76',GradientType=1 ); /* IE6-9 */
}
.btnNext:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.btnNext i {
  vertical-align: middle;
}
.paddingCenter{
  padding-top: 2px;
}
/*End btnNext*/
