li{
  list-style: none;
}
.containerSortableItem{
  padding: 5px;
  border-radius: 50px;
  background-color: #EBEBEB;
  margin: 16px 0px;
}
.containerSortableItem span{
font-size: 24pt;
color: #828282;
font-weight: 700;
margin: 0px 20px;
}
.sortableItem{
  cursor: pointer;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  background-color: #FAFAFA;
  color: #828282;
  font-size: 16pt;
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  transition: all 0.2s;
}

.sortableItem:hover{
  color: #00A3AC;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari */
  transform: rotate(3deg); /* Standard syntax */
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.64);
}
