 .group 			  {
  position:relative;
  margin-bottom:45px;
  font-size: 18px;
  margin-top: 20px;
}

.qteCalculate input{
  color: white;
  background: transparent;
  font-size:24px;
  font-weight: 700;
  padding: 20px 10px 20px 20px;
  display:block;
  width:300px;
  border:none;
  border:2px solid rgba(240, 240, 240, 0.5);
  border-radius: 30px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.qteCalculate input:focus 		{ outline:none; }

/* LABEL ======================================= */
.qteCalculate label 				 {
  color: rgba(240, 240, 240, 0.5);
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:24px;
  top:25px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.qteCalculate input:focus ~ label, .qteCalculate input:valid ~ label 		{
  top:-24px;
  font-size:14px;
  color: #00A3AC;
}

/* active state */
.qteCalculate input:focus				{
    border:2px solid #00A3AC;
  }

}

/* HIGHLIGHTER ================================== */
.qteCalculate  .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.qteCalculate input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
