@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

.qtecontent .radioBtnContainer {
  margin: 5px 0px;
  border-radius: 28px;
  transition: all .3s;
  line-height: 2;
}

.qtecontent .radioBtnContainer:hover {
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.3);
}

.qtecontent .radioBtn.radioBtn-inline {
  display: inline-block;
}

.qtecontent .radioBtn input[type="radio"] {
  display: none;
}

.qtecontent .radioBtn input[type="radio"]:checked+label:before {
  border-color: white;
  animation: ripple 0.2s linear forwards;
}

.qtecontent .radioBtn input[type="radio"]:checked+label:after {
  transform: scale(1);
}

.qtecontent .radioBtn label {
  height: 20px;
  position: relative;
  padding: 0 5px 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  clear: both;
}

.qtecontent .radioBtn input[type="radio"]:checked+label {
  font-weight: 700;
  /*makes selected option bold*/
}

.qtecontent .radioBtn label:before, .radioBtn label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}

.qtecontent .radioBtn label:before {
  left: 0;
  top: 9px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.54);
}

.qtecontent .radioBtn label:after {
  top: 14px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: white;
}

.qtecontent *, *:before, *:after {
  box-sizing: border-box;
}
