.qteQuestionContainer{
  color: white;
  font-size: 24pt;
  font-weight: 700;
}
.qteContainer{
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
}
.qteAlignCenter{
  width: 70%;
  margin: 0px auto;
  text-align: left;
}
.qteTime{
  font-size: 40pt;
  margin: 0px auto;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
.qteContent{
  height: 160px;
  min-height: 160px;
}
.qteSeparator{
  display: block;
  background:#00A3AC;
  width: 20px;
  height: 100%;
  left: 0px;
  min-width: 4px;
  max-width: 4px;
  border-radius: 5px;
}
.qteContentContainer {
  margin-bottom:0;
  min-width: 250px;
  font-size: 18px;
}
.qtecontent{
  padding-left: 20px;
}
.qteNext{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
