/*CASE CHAPTERS*/
.caseChaptersContainer{
  background: #EBEBEB;

}
/*Case Chapter icons*/
.caseIcon{
  position: relative;
  text-align: center;
  width: 48px;
  height: 48px;
  background-color: #FAFAFA;
  border-radius: 50%;
  margin-top:36px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
  color: rgba(130, 130, 130, 0.6);
  transition: 0.1s;
}
.caseIcon:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.36);
  color: rgba(0, 185, 209, 1);
}
.caseIcon:hover > .buttonBadge{
  top: -10px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36);
}
.first{
  margin: 0px;
}

.buttonBadge {
  width: 24px;
  height: 24px;
  background-color: #F5871F;
  border-radius: 60%;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: -7px;
  right: -9px;
  padding: 2px 0px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
  transition: 0.1s;
}

/*START case icon align center&middle*/
.caseIcon:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0.09em; /* Adjusts for spacing */
}
.caseIcon i {
  vertical-align: middle;
}
/*END case icon align center&middle*/

/*Footer*/
.footer{
  padding: 10px 10px 20px 10px;
}
.footer img {
  max-height: 32px;
}
.casesolvers img{
  height: 16px;
}
/*END CASE CHAPTERS*/


/*Start question container*/
.QAContainer{
  padding: 0px 32px;
}
.questionContainer{
  font-weight: 700;
  font-size:  22pt;
  color: #004C76;
}
/*End question container*/

/*END questionContainer*/

/* End chapterSelectorPopover*/
/* Select case shapter list static state*/
.chapterSelectorPopover {
  visibility: hidden;  /*Change to space to toogle view*/
  position: fixed;
  background-color: rgba(130, 130, 130, 0.8);
  z-index: 10;
  display: inline-flex;
}
.chapterSelectorPopover a{
  font-weight: 700;
  color: #00A3AC;
  transition: all;
}
.indicator{
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #828282;
  margin-left: 30px;
}
/* END Select case shapter list static state*/
.chapterSelectorPopover a > .indicator{
  background-color: #00A3AC;
}
.chapterSelectorPopover a:active > .indicator{
  background-color: #828282;
}
.chapterSelectorPopover a:hover{
  background-color: #dcfdff;
}
.chapterSelectorPopover a:visited{
  font-weight: 400;
  color: #031A2B;
}
.chapterSelectorPopover a:visited > .indicator{
  background-color: #828282;
}
.chapterSelectorPopover a:active{
  font-weight: 400;
  color: #828282;
  background-color: #e1e1e1;
}
/* End chapterSelectorPopover*/

/*START progress bar*/
.progressBarContainer{
  margin-bottom: 8px;
}
.progressBar{
  text-align: center;
}
.progress{
  height: 8px;
}
.moduleX{
  width: 15%;
  background-color: #004C76;
}
.progressBar label{
  font-weight: 700;
  font-size: 12px;
  color: #DEDEDE;
}
.currentModuleProgressLabel{
  color: #004C76 !important;
}

/*END progress bar*/
