<div class="emailViewer">
  <div class="mailHead">
    <p class="subject noMargin">Mail subject</p>
  </div>
  <div class="mail row">
    <div class="col-1 senderHeadContainer" align="center">
      <div class="senderHead">
        <img class="img-fluid" src="images/profilePicture.png" alt="">
      </div>
    </div>
    <div class="col-10">
      <div class="mailInfoContainer d-flex flex-row align-items-center justify-content-between">
        <div class="mailParty">
          <div class="sender">Name</div>
          <div class="recipients">Recipients: Username; Someone</div>
        </div>
        <div class="mailInfo d-flex flex-row  align-items-center">
          <div class="p-2 time">
            2019. máj. 13. 14:59 (6 nappal ezelőtt)
          </div>
            <i class="reply p-2 material-icons">reply</i>
        </div>
      </div>
      <div class="mailBody">
        <p>Dear Firstname!</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <img src="images/image.jpg" alt="">
        <p class="marginTop">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p class="noMargin marginTop">Sincerely</p>
        <p class="noMargin">Name</p>
      </div>
        <div class="signiture">
          <img src="images/company_logo.png" alt="">
          <ul class="list-unstyled mailDetails">
            <li class="name marginTop">Firstname Lastname</li>
            <li class="mailSign">Email: <span class="fakeLink">firstname.lastname@customcompany.com</span></li>
            <li class="phone">Phone: 00 36 548 76 23</li>
            <li class="web">Website: <a href="http://www.google.com" target="_blank" class="fakeLink">www.customcompany.com</a></li>
          </ul>
        </div>
      <div class="attachments d-flex flex-row">
        <a href="#"> <!--It should open up the linked doc and close the mail-->
          <div class="p-2 d-flex align-items-center">
            <i class="p-1 material-icons">view_headline</i>
            <span class="p-1">Titel of the attached</span>
          </div>
        </a>
        <a href="#"> <!--It should open up the linked doc and close the mail-->
          <div class="p-2 d-flex align-items-center">
            <i class="p-1 material-icons">view_headline</i>
            <span class="p-1">Titel of the attached</span>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div class="separator"></div>
  <div class="mail row">
    <div class="col-1 senderHeadContainer" align="center">
      <div class="senderHead">
        <img class="img-fluid" src="images/profilePicture.png" alt="">
      </div>
    </div>
    <div class="col-10">
      <div class="mailInfoContainer d-flex flex-row align-items-center justify-content-between">
        <div class="mailParty">
          <div class="sender">Name</div>
          <div class="recipients">Recipients: Username; Someone</div>
        </div>
        <div class="mailInfo d-flex flex-row  align-items-center">
          <div class="p-2 time">
            2019. máj. 13. 14:59 (6 nappal ezelőtt)
          </div>
            <i class="reply p-2 material-icons">reply</i>
        </div>
      </div>
      <div class="mailBody">
        <p>Dear Firstname!</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <img src="images/image.jpg" alt="">
        <p class="marginTop">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p class="noMargin marginTop">Sincerely</p>
        <p class="noMargin">Name</p>
      </div>
        <div class="signiture">
          <img src="images/company_logo.png" alt="">
          <ul class="list-unstyled mailDetails">
            <li class="name marginTop">Firstname Lastname</li>
            <li class="mailSign">Email: <span class="fakeLink">firstname.lastname@customcompany.com</span></li>
            <li class="phone">Phone: 00 36 548 76 23</li>
            <li class="web">Website: <a href="http://www.google.com" target="_blank" class="fakeLink">www.customcompany.com</a></li>
          </ul>
        </div>
      <div class="attachments d-flex flex-row">
        <a href="#"> <!--It should open up the linked doc and close the mail-->
          <div class="p-2 d-flex align-items-center">
            <i class="p-1 material-icons">view_headline</i>
            <span class="p-1">Titel of the attached</span>
          </div>
        </a>
        <a href="#"> <!--It should open up the linked doc and close the mail-->
          <div class="p-2 d-flex align-items-center">
            <i class="p-1 material-icons">view_headline</i>
            <span class="p-1">Titel of the attached</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
