
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>

</style>
<div class="grid-container">
    <div class="grid-item">
            <ul style="list-style-type: none; text-align:center; float:left;" id="fix_answer">
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style=" margin-bottom: 10% " id="<?php echo $i ?>" >
                            <span class="li-post-title">igen?<br></span>     
                        </li>
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style=" margin-bottom: 10% " id="<?php echo $i ?>" >
                            <span class="li-post-title">Nem?<br></span>
                        </li>
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style=" margin-bottom: 10% " id="<?php echo $i ?>" >
                            <span class="li-post-title">Talán?<br></span>
                        </li>
                </ul>

                <ul style="list-style-type: none; float:right; padding:0%" class="list-unstyled" id="match_sortable">
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style="border: solid 1px #000000; margin-bottom: 3% " id ="<?php echo $i  ?>">
                            <span>igen<br></span>
                        </li>
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style="border: solid 1px #000000; margin-bottom: 3% " id ="<?php echo $i  ?>">
                            <span>Nem<br></span>
                        </li>
                        <li data-post-id="<?php echo  $a_arr[$i]['correct'].'<br>' ?>" style="border: solid 1px #000000; margin-bottom: 3% " id ="<?php echo $i  ?>">
                            <span>Talán<br></span>
                        </li>
                </ul>
    </div>
</div>
<script>
 $( function() {
    $( "#match_sortable" ).sortable();
    $( "#match_sortable" ).disableSelection();
} );
</script>
