/*This CSS includes all the necessery libararys and stylesheets*/
/*Later on we should self host Bootstrap, Material icons, Ubuntu fontfamily*/

/* Bootstrap CSS -->*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/*Google material design icons CSS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*Ubuntu Font Family*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i&amp;subset=latin-ext");

@import url("main.css");
