.checkBoxContainer{
    font-size: 18px;
}
.checkBoxContainer:hover{
  border-radius: 20px;
  background-color: rgba(0, 76, 118, 0.1);
}
.checkBox {
  position: relative;
  text-align: left;
  line-height: 1.2;
  padding-right: 5px;
}
.checkBox.checkBox-inline {
  display: inline-block;
}
.checkBox label {
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  clear: both;
}
.checkBox label:not(:empty) {
  padding-left: 34px;
}
.checkBox label:before, .checkBox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.checkBox label:before {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.checkBox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.checkBox input[type="checkbox"]:checked + label{
  font-weight: 700; /*makes selected option bold*/
}
.checkBox input[type="checkbox"]:checked + label:before {
  background: #004C76;
  border: none;
}
.checkBox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.checkBox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.checkBox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
  box-sizing: border-box;
}
