/*Global settings for all the extras screen elements*/
.customBg {
  /*background-image: url(../images/dm_cover.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f7f7f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.extrasContentContainer {
  display: inline-flex;
  margin-top: 15%;
  margin-bottom:0;
  padding: 2.5em 2.5em 2.5em 0px;
  background: #FAFAFA;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  min-width: 250px;
}
.econtent{
  padding-left: 6.6%;
}
.title {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: #0079eb;
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  overflow-wrap: break-word;
}
.first{
  margin-top: 15%;
}
.last{
  margin-bottom: 20%;
}
.icon {
  font-style: 28px;
  background: #0079eb;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  vertical-align: middle;
}
.iconMiddle {
  margin-top: 24%;
}
.separator{
  display: block;
  background:#0079eb;
  width: 20px;
  left: 0px;
  min-width: 4px;
  max-width: 4px;
}
/*Global ends*/

/*Start input filed css*/
.form-input {
  margin-bottom: 20px;
  max-width: 350px;
  min-width: 300px;
  background-color: transparent;
}
.moreThenOne{
    margin-bottom: -0.2em;
    margin-top: 0.7em;
}
.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
  margin-bottom: -0.05em;
}
.form-input .placeholder {
  position: absolute;
  display: block;
  top: 18px;
  z-index: 2;
  font-size: 1em;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
  color: #828282;
  margin-left: 3%;
}
.form-input input{
  position: absolute;
  background: transparent;
  top: 15px;
  z-index: 1;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
  transition: border-color 200ms ease-in-out;
  outline: none;
  padding: 0;
  margin: 0;
  border-end-end-radius: 6px;
  border-end-start-radius: 6px;
  border-start-end-radius: 6px;
  border-start-start-radius: 6px;
  padding-left: 3%;
  padding-right: 3%;
}
.form-input input {
  height: 30px;
}
.form-input input:focus,
.form-input input:valid {
  border-bottom: 2px solid #0079eb;
}
.form-input input:focus + .placeholder,
.form-input input:valid + .placeholder{
  top: -4px;
  cursor: inherit;
  font-size: 12px;
  color: #0079eb;
}
.form-input input:required{
    box-shadow:none;
}
.agreementCheckbox{
    margin:0px 0px 20px 0px;
}
.agreements a:link{
  color: #0079eb;
  text-decoration: underline;
}
.agreements a:visited{
  color: black;
  text-decoration: underline;
}.agreements a:hover{
  color: #0076ac;
}

/*End input filed css*/

video{
  width:100%;
  border-radius: 10px;
}

extrasContentContainer img{
  width: 100%;
  border-radius: 10px;
}

/*Start Results screen*/
.overallScore {
  font-size: 60pt;
  color: #0079eb;
  font-weight: 700;
}
.results {
  margin-top: 80px;
  margin-bottom:0;
}
.rFirst {
    margin-top: 120px;
}
.rLast {
    margin-top: 80px;
    margin-bottom: 80px;
}
/*constellation bars*/
.constellationContainer{
  margin: 10px 0px;
}
.constellationName{
  color: #0079eb;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
  width:170px;
}
.constellationBar {
  height: 1.3rem;
  border-radius: 1.3rem;

}
.constellationBar span{
  color: white;
  margin: auto;
  font-size: 16px;
  padding: 5px;
  position: relative;
  font-weight: 700;
}
.constellationResult{
  background-color: #0079eb;
}
#create {
  width: 25%;
}

.skillName {
  color: #0079eb;
  font-size: 16px;
  font-weight: 700;
}
/*End Results screen*/
/*DHLC changes*/

fixWidth{
  min-width: 40em;
}

.loginBox{
  display: inline-flex;
  padding: 1.5em 2.5em 2.5em 0px;
  background: #FAFAFA;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.36);
  min-width: 250px;
}
.clientLogo{
  margin-top: 2em;
}
.clientLogo img{
  width: 300px;
}
.welcome{
  color: #343a40;
  font-weight: 900;
  font-size: 1.5em;
  margin: 1em 0em;
}
