html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F7F7F7;
}

.colPaddingOverride {
  padding: 0px !important;
}

i {
  font-style: normal;
}

p {
  margin: 0px !important;
}

a{
  text-decoration: none;
  color: #031A2B;
}
a:hover{
  text-decoration: none;
  color: #031A2B;
}
a:visited{
  text-decoration: none;
  color: #031A2B;
}
table{
  border-collapse: collapse;
}
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.cLightWhite {
  color: #fafafa !important;
}

/* ↓↓Navbar↓↓*/
.navbar {
  background-color: #2B2B2B;
  height: 40px;
}

.accountBoxIcon {
  margin: 0px 7px 0px 0px;
}

.dropdown-toggle::after {
  display: none;
}

.navTitle {
  font-weight: 900;
}

.fontSmall {
  font-size: 1em;
}

/* ↓↓Container↓↓*/
.marginTop {
  margin-top: 5em;
}

/*↓↓Progress Bar Agregeted score↓↓*/
.agregatedScoreProgress {
  background-color: #BDDBFF;
  border-radius: 12px;
}

.agregatedScoreProgressBar {
  width: 100%;
  height: 8px;
  border-radius: 16px;
  background-color: rgb(0, 121, 235);
  margin-top:10px;
}
.agregScoreText{
  color:#0079EB;
  font-size: 1.2em;
  font-weight: bold;
}

/*↓↓Progress Bar Other score↓↓*/
.otherScoreProgress {
  background-color: #828282;
  border-radius: 12px;
  margin-top:10px;
}

.otherScoreProgressBar {
  width: 100%;
  height: 6px;
  border-radius: 12px;
  background-color: rgb(38, 38, 38);
}

.candidateContainer{
  width: 95%;
  background-color: #fff;
  margin:auto;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 1%;
}
/*↓↓Score by skill↓↓*/
.scoreBySkillContainer{
  margin-top:30px;
}
/*↓↓Score by question↓↓*/
.scoreByQuestionCollapseButtonContainer{
  margin-top:30px;
}

.testName{
  font-size: 1em;
  color: #262626;
  font-weight: bold;
}
.horizontalLine{
  content: " ";
  margin: 4px 10px 0px 10px;
  color: black;
  background-color: black;
  height: 1px;
}
.moduleName{
  padding-bottom: 10px;
  font-size: 1.5em;
  color: #454545;
  font-weight: bold;
}
.scoreByQuestionContainer{
  margin-top: 22px;
}
  /*collapse icon change handler*/
  a[aria-expanded=true] .up {
     display: none;
  }
  a[aria-expanded=false] .down {
     display: none;
  }
  /*Table design*/
  .tableHead{
    font-weight: bold;
    color: 454545;
    border-bottom: 2px solid #828282;
  }
  .contentRow{
    border-bottom: 1px solid #BDBDBD;
  }
  .contentRow td{
    padding:8px 0px;
  }
  .view{
    color: #828282;
  }
  .view i{
    font-size: 1.2em;
    vertical-align: sub;
  }
  .primaryButton{
    border-radius: 3px;
    background-color: #0079eb;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
    margin-top:8%;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.36);
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
  }
  .primaryButton:hover{
    background-color: #66b5ff;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);
  
  }
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}