.linkCreatorContainer {
  background-color: #fff;
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.maxFill {
  width: revert;
}

.createLinkBtnClass {
  height: calc(1.5em + .75rem + 6px);
  width: 100%;
}

.marginTopBig {
  margin-top: 40px !important;
}

.showLink {
  background-color: lightgray;
  border-radius: 5px;
  color: gray;
}

.link {
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}

.linkCopy {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 20px;
}

.linkCopy:hover {
  color: rgb(0, 121, 235);
  transition: color 250ms ease-in-out,
    transform 150ms ease;
}

.linkCopy:active {
  transform: scale(0.97);
}

.copyToClipboardButtonContainer {
  position: relative;
}

.copiedInfo {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: -180%;
  transition: opacity 0.3s;
}

.copiedInfo::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.newPosModal {
  z-index: 2000;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

.newPosContainer {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.positionInput {
  width: auto;
  padding: 0px;
  padding-left: 10px;
  margin-right: 20px;
}

.addNewPos {
  width: 100%;
}

.modalHeading {
  color: #dbdbdb;
  font-weight: 300;
  font-size: 32px;
  display: inline-block;
}
.inputName{
  padding: 5px 5px;
  font-size: 12px;
}
.theLink{
  margin-left: 20px;
}
