html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F7F7F7;
}

.colPaddingOverride {
  padding: 0px !important;
}

i {
  font-style: normal;
}

p {
  margin: 0px !important;
}

a{
  text-decoration: none;
  color: #031A2B;
}
a:hover{
  text-decoration: none;
  color: #031A2B;
}
a:visited{
  text-decoration: none;
  color: #031A2B;
}
table{
  border-collapse: collapse;
}
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
input, select{
  border: none;
  offset: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.inline-block > div {
  display: inline-block;
}

button{
  border: none;
  offset: 0px;
  background: none;
  padding: 0px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

.noPadding{
  padding: 0px !important;
}


@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.cLightWhite {
  color: #fafafa !important;
}

/* ↓↓Navbar↓↓*/
.navbar {
  background-color: #2B2B2B;
  height: 40px;
}

.accountBoxIcon {
  margin: 0px 7px 0px 0px;
}

.dropdown-toggle::after {
  display: none;
}

.navTitle {
  font-weight: 900;
}

.fontSmall {
  font-size: 1em;
}
/*↓↓BUttons↓↓*/
.primaryButton{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    padding: 6px 40px;
    background-color: rgb(0, 121, 235);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.primaryButton:hover{
  background-color: #7CABF7;
}

.primaryButton:active{
  outline: 0px !important;
  transform: scale(0.97);
  background-color: rgb(0, 121, 235);
}
.primaryButton:focus{
  outline: 0px !important;
  background-color: rgb(0, 121, 235);
}

.primaryButton:visited{
  outline: 0px !important;
  background-color: rgb(0, 121, 235);
}


/* ↓↓Secondery Button↓↓*/
.seconderyButton{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    padding: 6px 20px;
    background-color: #FAFAFA;
    border: 1px solid rgb(0, 121, 235);
    border-radius: 3px;
    font-size: 14px;
    color: rgb(0, 121, 235);
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.seconderyButton:hover{
  background-color: #D9EAFF;
}

.seconderyButton:active{
  outline: 0px !important;
  transform: scale(0.97);
  background-color: #FAFAFA;
}


/* ↓↓Container↓↓*/
.marginTop {
  margin-top: 5em;
}

/*↓↓position container↓↓*/
.positionContainer{
  width: 95%;
  margin: auto;
  margin-bottom: 00px;
}
.headingOne{
  font-size: 48px;
  font-weight: 300;
  color:#828282;
}

/*↓↓Progress Bar Agregeted score↓↓*/
.agregatedScoreProgress {
  background-color: #BDDBFF;
  border-radius: 12px;
}

.agregatedScoreProgressBar {
  width: 100%;
  height: 8px;
  border-radius: 16px;
  background-color: rgb(0, 121, 235);
  margin-top:10px;
}
.agregScoreText{
  color:#0079EB;
  font-size: 1.2em;
  font-weight: bold;
}

/*↓↓Progress Bar Other score↓↓*/
.otherScoreProgress {
  background-color: #828282;
  border-radius: 12px;
  margin-top:10px;
}

.otherScoreProgressBar {
  width: 100%;
  height: 6px;
  border-radius: 12px;
  background-color: rgb(38, 38, 38);
}

.candidateContainer{
  width: 95%;
  background-color: #fff;
  margin:auto;
  padding: 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
/*↓↓Score by skill↓↓*/
.scoreBySkillContainer{
  margin-top:30px;
}
/*↓↓Score by question↓↓*/
.scoreByQuestionCollapseButtonContainer{
  margin-top:30px;
}

.testName{
  font-size: 1em;
  color: #262626;
  font-weight: bold;
}
.horizontalLine{
  content: " ";
  margin: 4px 10px 0px 10px;
  color: black;
  background-color: black;
  height: 1px;
}
.moduleName{
  padding-bottom: 10px;
  font-size: 1.5em;
  color: #454545;
  font-weight: bold;
}
.scoreByQuestionContainer{
  margin-top: 22px;
}
.scoreByQuestionRow{
  margin-bottom: 40px;
}

  /*collapse icon change handler*/
  a[aria-expanded=true] .up {
     display: none;
  }
  a[aria-expanded=false] .down {
     display: none;
  }
  /*Table design*/
  .tableHead{
    font-weight: bold;
    color: 454545;
    border-bottom: 2px solid #828282;
  }
  .contentRow{
    border-bottom: 1px solid #BDBDBD;
  }
  .contentRow td{
    padding:8px 0px;
  }
  .view{
    color: #828282;
  }
  .view i{
    font-size: 1.2em;
    vertical-align: sub;
  }

.small{
  font-size: 12px;
}
.bold{
  font-weight:900;
}
.candidateName{
  font-size: 1.6em;
  color: #575757;
}
.darkGray{
  color: #575757;
}

.excelExportModal {
  z-index: 2000;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

.thin{
  font-weight: 300;
}

.agregScoreFilterContainer{
  margin: 1em 0em;
}

.hAuto{
  height: auto;
}

.downloadExcelReportBtn{
  width: 100%;
  padding: 5px;
  height: 2.7em;
}

.exRepIcon{
  font-size: 18px;
}

.modalInnerTitle{
  padding-bottom: 4px;
}

.modalBox {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.shadow{
  
}
