html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

:root {
  --height: 1000px;
  --pdfBlue: #3D71B7;
}

body {
  height: 100%;
}

p {
  margin: 0px !important;
}

.paper {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: var(--height);
  width: calc(var(--height)*0.71);
  background-color: white;
  border: 1px solid lightGray;
  overflow: hidden;
  padding: calc(var(--height)*0.032);
}

.cover {
  background-color: #3D71B7;
  color: white;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.smallFont {
  font-size: 0.8em;
}

.hugeFont {
  font-size: 3.4em;
}

.bigFont {
  font-size: 1.8em;
}

.candidateInfo {
  margin-top: 15%;
}

.tableOfContent {
  position: absolute;
  bottom: 32px;
}

.positonName {
  margin-top: -2%;
}

.tableOfContent table tr td {
  padding: 0px 50px 0px 0px;
}

.tocTitleContainer {
  position: relative;
}

.tocTitle {
  position: absolute;
  display: inline-block;
  color: #3D71B7;
  font-weight: bold;
  padding: 3px 20px 3px 32px;
  position: absolute;
  background-color: white;
  top: -50px;
  left: -32px;
}

.header, .footer {
  position: absolute;
  background-color: #3D71B7;
  color: white;
  padding: 32px;
  margin: auto;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.header {
  top: 0px;
}

.footer {
  bottom: 0px;
}

.csLogoContainer img {
  width: 100px;
}

.pageContent {
  padding: 150px 10px 70px 10px;
  width: 100%;
  height: 100%;
}

.scoresContainer {
  margin-top: 50px;
}

.topicTitleContainer {
  padding-top: 20px;
  border-bottom: 2px solid var(--pdfBlue);
}

.topicTitle {
  font-size: 1.5em;
}

.pdfBlue {
  color: var(--pdfBlue);
  background-color: var(--pdfBlue);
}

.pdfBlueColor {
  color: var(--pdfBlue);
}

.agregatedScoreProgressBar {
  height: 20px;
  margin: 0px;
}

.agregatedScoreProgress {
  height: 20px;
  margin-right: 20px;
}

.agregPer, .otherScorePer {
  padding-bottom: 3px;
}

.otherScoresContainer {
  margin-top: 50px;
  font-size: 0.8em;
}

.otherScoreProgress {
  margin: 0px;
  margin-right: 10px;
}

.otherScoreRow {
  margin-top: 10px;
}

.fillData {
  margin-top: 50px;
  font-size: 0.8em;
  color: #6D6D6D;
}
.columnsContainer{
  font-size: 0.8em;
}
.PDFTable{
  width: 100%;
  font-size: 0.7em;
}
.PDFtableHead{
  color: #9E9E9E;
  border-bottom: solid 2px var(--pdfBlue);
  font-weight: 700;
}
.PDFtableHead td{
  padding: 10px 0px;
}

.whiteRow, .grayRow{
  color: black;
}
.whiteRow td, .grayRow td{
  padding: 3px 6px;
}
.grayRow{
  background-color: #C6C6C6;
}
.containerPDFTable{
  margin-bottom: 20px;
}
.textContainer{
  margin-top: 20px;
  font-size: 0.7em;
}
.headingTwo{
  padding-top: 10px;
}
.line{
  margin-top: 10px;
  border-bottom: 2px solid var(--pdfBlue);
}
.hidden{
  visibility: hidden;
}
.paddginOverride{
  padding-top: 120px;
}
